#hero {
    height: 90vh;
    width: 100%;

    @include xl {
        display: grid;
        grid-template-areas: ". hero .";
        grid-template-columns: auto 100% auto;
    }

    #path{
        position: absolute;
        bottom: 200px;
        right: 5px;

        @include md{
            bottom: 200px;
            right: 200px;  
        }

        @include lg{
            right: 300px;
        }

        @include xl{
           right: 400px; 
        }
    }


    >div {

        overflow: hidden !important;
        height: 100%;

        @include xl {
            grid-area: hero;
        }


        svg{
            // margin-top: 300px;
        }

        article {

            align-items: center;
            background-image: url("../img/hero/hero.jpg");
            background-position: 50%, 30%; 
            background-size: cover;
            display: flex;
            height: 100%;
            justify-content: center;
            position: relative;

            @include xl{
                background-position: center; 
            }

            


            section {
                color: $white;
                text-align: center;

                h1 {
                    font-size: rem-calc(44);
                    font-family: 'Oswald', sans-serif;
                    font-weight: 900;
                    

                    @include md {
                        font-size: rem-calc(54);
                    }

                    @include lg {
                        font-size: rem-calc(64);
            
                    }
                }

               

            }

        }


    }
}